body {
    background-color: #9f231a;
    text-align: center;
}

#navbar {

    display: flex;
    background-color: #F5B32F;
    height: 150px;
    justify-content: space-evenly;
    align-items:center;
}

#navbar a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bolder;
    color: #1C1C1C;
}

#navbar a:hover{
    color: #ae1616;
    font-size: 50px;
}

.bella_Caffee{
    justify-self: flex-start;
}

.drinks_pastries {
    justify-self: flex-end;
 
}

.image_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* margin: 50px 100px ; */
    /* border: 3px solid green; */
    padding: 0px 50px;
    width: 80%;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
     color: #FFFFFF;
    font-size: 40px
}

h3 {
    color: #F5B32F;
    font-size: 40px

}
.padding{
    padding: 0px 90px;
}
p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    text-wrap:balance ;
    white-space: pre-line;
    
}
/* para for paralel */
.image_para {
    display: flex;
    justify-content: space-evenly;
    scale: 80%;
}

.coffee_image{
    width: 90%;
}
.paragraphs {
    scale: 90%;

}

footer {
    display: flex;
    background-color: #F5B32F;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
}

footer a {
    text-decoration: none;
    font-size: 40px;
    font-weight: bolder;
    color: #1C1C1C;
}

footer a:hover{
    color: #ae1616;
}